# datatable median() test

In [1]:
import datatable as dt
import pandas as pd

In [2]:
DT = dt.fread('jane-street-market-prediction/train.csv', columns={'date', 'feature_27'})

In [3]:
DT.names

('date', 'feature_27')

In [4]:
DT.to_csv("date_f_27.csv")

In [3]:
DT2 = dt.fread("date_f_27.jay")

In [4]:
DT2[:, dt.median(dt.f.feature_27), dt.by(dt.f.date)]

In [ ]:
DT[:, dt.mean(dt.f.feature_27), dt.by(dt.f.date)]

In [ ]:
DT[:, dt.sd(dt.f.feature_27), dt.by(dt.f.date)]

In [4]:
DT[:, dt.median(dt.f.feature_27), dt.by(dt.f.date)]

RuntimeError: Invalid data access for a virtual column

In [ ]:
dt.fread('tests.csv')

In [ ]:
dt.fread('tests.csv', columns={'col2'})

In [ ]:
dt.fread('tests.csv', columns=['col2', 'col1'])

In [ ]:
DT

In [ ]:
DT[:, dt.sd(dt.f.col2), dt.by(dt.f.col1)]

In [ ]:
DT[:, dt.mean(dt.f.col2), dt.by(dt.f.col1)]

In [ ]:
DT[:, dt.median(dt.f.col2), dt.by(dt.f.col1)]

In [ ]:
!pip show datatable