# datatable median() test

In [35]:
import datatable as dt
import pandas as pd

In [36]:
DT = dt.fread('jane-street-market-prediction/train.csv')

In [37]:
DT.names

('date',
 'weight',
 'resp_1',
 'resp_2',
 'resp_3',
 'resp_4',
 'resp',
 'feature_0',
 'feature_1',
 'feature_2',
 'feature_3',
 'feature_4',
 'feature_5',
 'feature_6',
 'feature_7',
 'feature_8',
 'feature_9',
 'feature_10',
 'feature_11',
 'feature_12',
 'feature_13',
 'feature_14',
 'feature_15',
 'feature_16',
 'feature_17',
 'feature_18',
 'feature_19',
 'feature_20',
 'feature_21',
 'feature_22',
 'feature_23',
 'feature_24',
 'feature_25',
 'feature_26',
 'feature_27',
 'feature_28',
 'feature_29',
 'feature_30',
 'feature_31',
 'feature_32',
 'feature_33',
 'feature_34',
 'feature_35',
 'feature_36',
 'feature_37',
 'feature_38',
 'feature_39',
 'feature_40',
 'feature_41',
 'feature_42',
 'feature_43',
 'feature_44',
 'feature_45',
 'feature_46',
 'feature_47',
 'feature_48',
 'feature_49',
 'feature_50',
 'feature_51',
 'feature_52',
 'feature_53',
 'feature_54',
 'feature_55',
 'feature_56',
 'feature_57',
 'feature_58',
 'feature_59',
 'feature_60',
 'feature_61',
 'feature_62',
 'feature_63',
 'feature_64',
 'feature_65',
 'feature_66',
 'feature_67',
 'feature_68',
 'feature_69',
 'feature_70',
 'feature_71',
 'feature_72',
 'feature_73',
 'feature_74',
 'feature_75',
 'feature_76',
 'feature_77',
 'feature_78',
 'feature_79',
 'feature_80',
 'feature_81',
 'feature_82',
 'feature_83',
 'feature_84',
 'feature_85',
 'feature_86',
 'feature_87',
 'feature_88',
 'feature_89',
 'feature_90',
 'feature_91',
 'feature_92',
 'feature_93',
 'feature_94',
 'feature_95',
 'feature_96',
 'feature_97',
 'feature_98',
 'feature_99',
 'feature_100',
 'feature_101',
 'feature_102',
 'feature_103',
 'feature_104',
 'feature_105',
 'feature_106',
 'feature_107',
 'feature_108',
 'feature_109',
 'feature_110',
 'feature_111',
 'feature_112',
 'feature_113',
 'feature_114',
 'feature_115',
 'feature_116',
 'feature_117',
 'feature_118',
 'feature_119',
 'feature_120',
 'feature_121',
 'feature_122',
 'feature_123',
 'feature_124',
 'feature_125',
 'feature_126',
 'feature_127',
 'feature_128',
 'feature_129',
 'ts_id')

In [38]:
DT[:, dt.mean(dt.f.feature_27), dt.by(dt.f.date)]

In [39]:
DT[:, dt.sd(dt.f.feature_27), dt.by(dt.f.date)]

In [40]:
DT[:, dt.median(dt.f.feature_27), dt.by(dt.f.date)]

RuntimeError: Invalid data access for a virtual column

In [27]:
dt.fread('tests.csv')

In [28]:
dt.fread('tests.csv', columns=['col2'])

ValueError: Input contains 2 columns, whereas columns parameter specifies only 1 column

In [30]:
dt.fread('tests.csv', columns=['col2', 'col1'])

In [25]:
DT

In [16]:
DT[:, dt.sd(dt.f.col2), dt.by(dt.f.col1)]

In [31]:
DT[:, dt.mean(dt.f.col2), dt.by(dt.f.col1)]

In [32]:
DT[:, dt.median(dt.f.col2), dt.by(dt.f.col1)]

In [26]:
!pip show datatable

Name: datatable
Version: 0.11.1
Summary: Python library for fast multi-threaded data manipulation and munging.
Home-page: https://github.com/h2oai/datatable
Author: Pasha Stetsenko
Author-email: pasha.stetsenko@h2o.ai
License: Mozilla Public License v2.0
Location: c:\users\deskt\dev\venv\3.8\lib\site-packages
Requires:
Required-by: